
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

body {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  background-image: url("./images/shayda-torabi-3iexvMShGfQ-unsplash.jpg");
  background-color: #F51212;
  background-size: cover;
}


.flex-container {
    background-color: #F51212;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    /* max-width: 390px; */
    flex-wrap: wrap;
}

#logo {
  height: 100px;
  width: 100px;
}

#header {
    background-color: #E4DB04;
    /* opacity: 57%; */
    color: black;
    text-align: center;
    font-size: 36px;
    font-family: Jacques Francois;
    margin-top: 10px;
    margin-bottom: 5px;
}

#sub-head {
  color: white;
  margin-top: 5px;

}

button {
    background-color: #E4DB04;
    width: 216px;
    height: 56px;
    font-size: 24px;
    font-family: Jacques Francois;
    margin: 25px 15px 25px 15px;
    box-shadow: 5px 5px;
    /* border-radius: 25%; */

}

.text, #about  {
    /* background-color: #FF7121; */
    /* opacity: 90%; */
    color: white;
    font-family: Jacques Francois;
    font-size: 24px;
    text-align: center;
    /* border-radius: 30%; */
    display: inline;
    
}

#about {
  margin: 30px 30px 30px 30px;
}

#topper {
  width: 100%;
}

#aboutBtn {
  color: white;
    font-family: Jacques Francois;
    font-size: 24px;
    text-align: right;
    display: block;
    margin: 15px 25px 10px;

}


form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.save {
    width: 75px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;

}

.delete {
  background-color: #E4DB04;
  display: inline;
  font-size: 24px;
  margin-left: 10px;
  border-left: #E4DB04 10px solid;
  border-right: #E4DB04 10px solid;
  border-top: #E4DB04 5px solid;
  border-bottom: #E4DB04 3px solid;
  box-shadow: 5px 5px;
}

.disp {
  display: flex;
}

#option-container, #list-container {
  display: flex;
  flex-direction: column;
}

.right {
    animation-duration: 3s;
    animation-name: slidein;
  }

  #addOpt {
    box-shadow: 2px 2px 2px lightgray inset;
    height: 25px;

  }
  
  /* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  #option-container {
    overflow: hidden;
  }

 ul {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
      height: 300%;
    }
  
    to {
      margin-bottom: 0%;
      height: 100%;
    }
  }